{% extends 'layout.tpl.html' %}

{% block content %}
  {% if gender !== 'unknown' %}
  <p>Test: {{gender}} ads should be inserted.</p>
  {% endif %}
  <script src="//player.ooyala.com/static/v4/stable/latest/core.min.js"></script>
  <script src="//player.ooyala.com/static/v4/stable/latest/video-plugin/main_html5.min.js"></script>
  <script src="//player.ooyala.com/static/v4/stable/latest/skin-plugin/html5-skin.min.js"></script>
  <script src="//player.ooyala.com/static/v4/stable/latest/video-plugin/bit_wrapper.min.js"></script>
  <script src="//player.ooyala.com/static/v4/stable/latest/video-plugin/osmf_flash.min.js"></script>
  <script src="//player.ooyala.com/static/v4/stable/latest/ad-plugin/ssai_pulse.min.js"></script>
  <link rel="stylesheet" href="//player.ooyala.com/static/v4/stable/latest/skin-plugin/html5-skin.min.css"/>
  <div id='container'></div>
  <script>
    var gender = '{{gender}}';
    var tokenRequest = '{% autoescape false %}{{tokenRequest}}{% endautoescape %}';
  </script>
  <script src="scripts/live.js"></script>
{% endblock %}
